body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: rgb(1, 1, 9);
    background: linear-gradient(0deg, rgba(1, 1, 9, 1) 0%, rgba(5, 5, 52, 1) 44%, rgba(152, 137, 121, 1) 100%);
    font-family: "Times New Roman", Times, serif;
    color: white;
    position: relative;
}

button {
    position: relative;
    padding: 15px 25px;
    margin: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #c9aa4f;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #3d3535;
}

button:hover {
    background-color: #a35b2b
}

button:active {
    background-color: #470e04;
    box-shadow: 0 5px #3d3535;
    transform: translateY(4px);
}

#game-world {
    width: 750px;
    height: 400px;
    border: 2px solid black;
    margin: auto;
    position: relative;
}

#vilager1 {
    background-color: transparent;
    background-image: url('assets/vill1.png');
    background-position: center;
    background-size: 100% 100%; 
    background-repeat: no-repeat;
}
#vilager2 {
    background-color: transparent;
    background-image: url('assets/vill2.png');
    background-position: center;
    background-size: 100% 100%; 
    background-repeat: no-repeat;
}

.gameOverlay {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 0;
}

.gameobject {
    position: absolute;
    border: none;
}

#levelEndOverlay {
    width: 400px;
    height: 200px;
    background-color: rgba(200, 100, 0, 0.5);
}

#notice {
    width: 200px;
    height: 150;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(9, 66, 131, 0.5);
    box-shadow: #3d3535;
}

#editor {
    border-radius: 25px;
    padding: 10px;
}

.dialogue {
    display: none;
    width: 650px;
    height: 200px;
    background-color: rgb(247, 202, 202);
    position: absolute;
    border-radius: 15px;
    top: 300px;
    left: 50px;
}

#dialogueSprite {
    width: 200px;
    height: 200px;
    background-color: transparent;
    background-image: url('assets/Villager1Portrait.png');
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling */
    position: absolute;
    top: -200px;
    left: 0px;
}

#dialogueText {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 650px;
    height: 180px;
    transform: translate(-50%, -50%);
    background-color: transparent;
}

.stage {
    display: none;
    width: 750px;
    height: 400px;
    position: absolute;
    top: 0px;
    left: 0px;

}

#main-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Centers items vertically */
    align-items: center;
    /* Centers items horizontally */
    height: 100%;
    width: 100%;
    background-color: green;
    background-image: url('assets/MainMenu.jpg');
}

#stage1 {
    background-color: aqua;
    background-image: url('assets/stage1Background.png');
}

#stage2 {
    background-color: plum;
}

#stage3 {
    background-color: plum;
}

#editor {
    width: 80%;
    height: 100px;
    margin: 10px auto;
    display: block;
}

#inventory {
    margin-top: 10px;
}

.game-object {
    position: absolute;
    border: 1px solid red;
    padding: 10px;
    background: pink;
}